# exclude everything except selected directorys and files
/*

# block all files
*.*

# add directorys and specify how many subdirectorys to include (number of /*)
!data_raw/
/data_raw/*/*/*/*/*/*/*

!data/
/data/*/*/*/*/*/*/*

!process/
/process/*/*/*/*

!matrix/
!/matrix/*.csv

!metadata/
/metadata/*/*/*/*

!products/
/products/*/*/*/*/*/*

!shiny_data_upload/
# gitignore file in shiny_data_upload folder ensures all files are included

# allow upload of latest layer list (metadata)
!/products/layer_list_v2.1.xlsx

# allow upload of products
!/products/v1.0/
!/products/v1.0/output_images/*/*.png
!/products/v2.0/
!/products/v2.0/output_images/*/*.png
!/products/v2.0/output_geotiffs/*/*.tif
!/products/v2.0/output_geotiffs/*/*.json
!/products/v2.1/
!/products/v2.1/output_images/*/*.png
!/products/v2.1/output_geotiffs/*/*.tif
!/products/v2.1/output_geotiffs/*/*.json
!/products/v2.2/
!/products/v2.2/output_images/*/*.png
!/products/v2.2/output_geotiffs/*/*.tif
!/products/v2.2/output_geotiffs/*/*.json
!/products/v2.2/output_multiband_compress/*.tif
!/products/v2.2/output_multiband_compress/*.xlsx
!/metadata/reg/**

# allow upload of specific files
!/metadata/sitemap.xml
!/metadata/WIO_Symphony.json
!/products/layers_metadata_v2.2.xlsx
!/metadata/layers_metadata/**/*

# add files that we want...

!*.r
!*.rmd
!*.py
!*.ipynb
!*metasym.txt
!*sourcesym.txt
!/data/*/*/*/*/proc_log/*.docx
!.gitignore
!data_collection_coordinates.txt
!wiosym.Rproj
!README.md
.Rproj.user
