# exclude everything except selected directorys and files
/*

# add directorys and specify how many subdirectorys to include (number of /*)
!data_raw/
/data_raw/*/*/*/*/*/*/*

!data/
/data/*/*/*/*/*/*/*

!process/
/process/*/*/*

!shiny_data_upload/
# gitignore file in shiny_data_upload folder ensures all files are included

# block all files
*.*

# add files that we want...

!*.r
!*.rmd
!*.py
!*metasym.txt
!*sourcesym.txt
!.gitignore
!data_collection_coordinates.txt
!wiosym.Rproj
.Rproj.user
